@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a, a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    transition: 0.3s;
    color: salmon;
}

.logo {
    height: 6vh;
    padding: 0.7vh;
}

.icon {
    height: 4vh;
    padding: 0.3vh;
}

li{
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
    font-weight: 900;
    display: inline-block;
    padding: 1vh 1vh;
}

main{
    flex: 1;
    height: 100%;
}

footer{
    background-color: black;
    height: 9vh;
}
footer li{
    margin: 2vh;
}
footer li:first-child{
    margin-left: 4vh;
}
footer .logo {
    height: 8vh;
    padding: 0.7vh;
}
footer a, footer a:visited{
    color: white;
}
