@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

nav{
    height: 6vh;
    width: 100%;
    background-color: white;
}

footer {
    background-color: black;
    height: 8vh;
    width: 100%;
}

footer ul, nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
}
footer li, nav li{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vh;
    /* padding: 0 0 0 1vh; */
    font-weight: 800;
}

a, a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    transition: 0.3s;
    color: salmon;
}
footer a, footer a:visited{
    color: white;
}

main{
    flex: 1;
    height: 100%;
}

.logo {
    height: 5vh;
    padding: 0.7vh;
}
footer .logo {
    height: 6vh;
}
.icon {
    height: 3vh;
    padding: 0.3vh;
}
